


:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

body{
    background-color: rgb(73, 6, 189);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 40px;
    font-size: calc(16px + 0.5vw);
}
.quizimage{
    position: absolute;
  top: 12px;
  left: 12px;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
h1{
    margin-top: 10px;
    font-size: calc(36px + 2vw);
}
.container{
    height: 100vh;
    width: 100vw;
    max-width: 300px;
    max-height: 600px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
  margin-top: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    gap: 5px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    padding: 10px;
}
button{
     background-color: rgb(73, 6, 189);
    color: black;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 40px;
    cursor: pointer;
     font-weight: bold;
}
button:hover{
     background-color: rgb(129, 75, 223);
}
.p{
    text-align: center;
}
.questioncontainer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    font-style: italic;
    padding: 20px;
    

}
.optionscontainer{
display: flex;
flex-direction: column;
gap: 10px;
margin-top: 40px;

}
.option-btn{
    width: 250px;
    height: 50px;
    text-align: left;
    padding-left: 10px;
    background-color: rgb(247, 243, 243);
    border: none;
    color: black;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: 0.2s ease-in;
    cursor: pointer;
     font-size: larger;
     font-weight: bold;
}
.option-btn:hover{
    background-color: rgb(202, 202, 202);
    transform: scale(1.1);
}

.para{
    padding: 1vmin 0.5rem;
}
.submit{
    width: 80px;
    height: 30px;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
     background-color: rgb(73, 6, 189); 
      font-size: large;
     font-weight: bold;
}
.final-score{
    padding-top: 40px;
    background-color: white;
     text-align: center;
     margin: 40px;
     font-size: larger;
     font-weight: bold;
}
.restart{
  width: 120px;
  height: 50px;  
  color: black;
   font-size: large;
     font-weight: bold;
     margin-top: 30px;
}
.results{
    margin-top: 30px;
}
.selected{
    background-color: rgb(71, 71, 71);
    color: white;
}