@font-face {
    font-family: 'Aller';
    src: url('Aller-BoldItalic.woff2') format('woff2'),
        url('Aller-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

