@font-face {
    font-family: 'Aller';
    src: url('fonts/Aller-BoldItalic.woff2') format('woff2'),
        url('fonts/Aller-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
:root {
  line-height: 1.5;
  --color-blue: rgb(73, 6, 189);
  --color-white: white;
  --color-ash:  rgb(202, 202, 202);
  --color-lightblue: rgb(129, 75, 223);
  --color-black: black;
}
h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

body{
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Aller";
    margin: 40px;
    font-size: calc(16px + 0.5vw);
}
.quizimage{
    position: absolute;
  top: 12px;
  left: 12px;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
h1{
    margin-top: 10px;
    font-size: clamp(2.5rem, 4vw, 3.5rem);
}
.container{
    height: 100vh;
    width: 100vw;
    max-width: 300px;
    max-height: 600px;
    background-color: var(--color-white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
  margin-top: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 8px var(--color-ash);
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    gap: 5px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    padding: 10px;
}
button{
     background-color: var(--color-blue);
    color: black;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 40px;
    cursor: pointer;
     font-weight: bold;
     font-size: clamp(1.1rem, 2vw, 1.3rem);
}
button:hover{
     background-color: var(--color-lightblue);
}
.p{
    text-align: center;
}
.questioncontainer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(1.6rem, 2vw, 2.2rem);
    font-style: italic;
    font-weight: 600px;
    padding: 20px;
    

}
.optionscontainer{
display: flex;
flex-direction: column;
gap: 10px;
}
.option-btn{
    width: 250px;
    height: 50px;
    text-align: left;
    padding-left: 10px;
    background-color: var(--color-ash);
    border: none;
    color: black;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: 0.2s ease-in;
    cursor: pointer;
     font-size: clamp(1.2rem, 2vw, 1.5rem);
     font-weight: bold;
}
.option-btn:hover{
    background-color: var(--color-blue);
    transform: scale(1.1);
}

.para{
    padding: 1vmin 0.5rem;
}
.submit{
    width: 100px;
    height: 30px;
    text-align: center;
    margin-bottom: 30px;
     background-color: var(--color-blue); 
      font-size: clamp(1.4rem, 2vw, 1.6rem);
     font-weight: 400px;
}
.final-score{
    padding-top: 40px;
    background-color: white;
     text-align: center;
     margin: 40px;
     font-size: larger;
     font-weight: bold;
}
.restart{
  width: 120px;
  height: 50px;  
  color: black;
   font-size: large;
     font-weight: bold;
     margin-top: 30px;
}
.results{
    margin-top: 30px;
}
.selected{
    background-color: var(--color-blue);
    color: var(--color-black);
}
@media (min-width: 767px){
    .container{
        width: 800px;
        height: 500px;
        max-width: 100%;
        max-height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .submit{
        height: 40px;
        width: 120px;
    }
    .button{
        gap: 15px;
    }
    button{
        height: 35px;
        width:50px;
    }
}